/*首页头部 样式*/
.head {
    width: 960px;
    margin: 0 auto;
    text-align: center
}

/*首页 内容 样式*/
.content {
    width: 960px;
    margin: 0 auto;
    /*background: url("../res/images/dada.gif") no-repeat center top;*/
}

/*首页 底部 样式*/
.foot {
    width: 960px;
    margin: 0 auto;
}