.image
{
    text-align: center;
    margin: 20px 0;
}
.text-wrap h2
{
    width: 220px;
    padding: 10px 20px;
}
.text-wrap
{
    width: 1150px;
    margin: auto;
}
.text-wrap .text
{
    text-indent: 40px;
    line-height: 50px
}